version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/admin/server"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/admin"
    schedule:
      interval: "weekly"
